{% extends "base.html.twig" %}

{% block title %}New Ordonnance{% endblock %}

{% block content %}
    <h1>Create new Ordonnance</h1>

    {{ include('ordonnance/_form.html.twig') }}

    <a href="{{ path('app_ordonnance_index') }}">back to list</a>
{% endblock %}
